<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Person</title>
</head>
<body>

<form th:action="@{''}"
      method="post"
      th:object="${person}">

    <div>
        <label th:for="firstName">First Name: </label>
        <input type="text" th:field="*{firstName}"/>
        <span th:if="${#fields.hasErrors('firstName')}"
              th:errors="*{firstName}"></span>
    </div>

    <div>
        <label th:for="lastName">Last Name: </label>
        <input type="text" th:field="*{lastName}"/>
        <span th:if="${#fields.hasErrors('lastName')}"
              th:errors="*{lastName}"></span>
    </div>

    <div>
        <label th:for="dateOfBirth">DateOfBirth: </label>
        <input type="date" th:field="*{dateOfBirth}"/>
        <span th:if="${#fields.hasErrors('dateOfBirth')}"
              th:errors="*{dateOfBirth}"></span>
    </div>


    <div>
        <label th:for="sex">Sex: </label>
        <select th:field="*{sex}">
            <option th:each="sex: ${sexes}"
                    th:value="${sex}"
                    th:text="${sex}"></option>
        </select>
    </div>

    <div>
        <label>Interests: </label>
        <ul>
            <li th:each="interest: ${interests}">
                <input type="checkbox"
                       th:field="*{interests}"
                       th:value="${interest.id}"
                       th:text="${interest.description}"/>
            </li>
        </ul>
        <span th:if="${#fields.hasErrors('interests')}"
              th:errors="*{interests}"></span>
    </div>

    <button type="submit">Save</button>
</form>

</body>
</html>