<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Persons</title>
</head>
<body>

<table>
    <tr>
        <th>Last Name</th>
        <th>First Name</th>
        <th>Date of birth</th>
        <th>Sex</th>
        <th>Intersts</th>
    </tr>
    <tr th:each="person: ${persons}">
        <td th:text="${person.firstName}"></td>
        <td th:text="${person.lastName}"></td>
        <td th:text="${person.dateOfBirth}"></td>
        <td th:text="${person.sex}"></td>
        <td th:text="${person.getInterestString()}"></td>
    </tr>
</table>

<a th:href="@{persons/new}">New</a>

</body>
</html>