<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Overview</title>
</head>
<body>

<table>
    <tr>
        <th>Last Name</th>
        <th>First Name</th>
        <th></th>
    </tr>
    <tr th:each="person: ${persons}">
        <td th:text="${person.lastName}"></td>
        <td th:text="${person.firstName}"></td>
        <td>
            <a th:text="Test"
               th:href="@{/persons/{id} (id=${person.id})}"></a>
        </td>
    </tr>
</table>

</body>
</html>