<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Number</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="student : ${students}">
        <td>
            <a th:text="${student.name}" th:href="@{/students/{id} (id=${student.id})}"></a>
        </td>
        <td th:text="${student.number}">this students number</td>
    </tr>
    </tbody>
</table>

<a th:href="@{/students/add}">Add new student</a>
</body>
</html>