<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${student.name}"></title>
</head>
<body>
<p th:text="${student.name}"></p>
<p th:text="${student.number}"></p>
</body>
</html>