<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add new student</title>
</head>
<body>
<form th:action="@{/students}" method="post" th:object="${student}">
    <div th:if="${#fields.hasErrors('*')}">
        <h1>Errors</h1>
        <ul>
            <li th:each="err : ${#fields.errors('*')}"
                th:text="${err}">Error
            </li>
        </ul>
    </div>

    <div>
        <label th:for="name">Name: </label>
        <input type="text" th:field="*{name}">  <!-- ${student.name} -->
        <p th:if="${#fields.hasErrors('name')}"
           th:errors="*{name}"></p>
    </div>

    <div>
        <label th:for="number">Number: </label>
        <input type="number" th:field="*{number}">
        <span th:if="${#fields.hasErrors('number')}"
              th:errors="*{number}"></span>
    </div>

    <div>
        <input
                type="checkbox"
                th:each="allergy : ${allergies}"
                th:field="*{allergies}"
                th:value="${allergy}"
                th:text="${allergy.hashCode()}">

    </div>
    <input type="submit" value="Submit">
</form>
</body>
</html>