<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin New Question</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
</head>
<body>

<div class="container mt-5">
    <div class="d-flex justify-content-center my-2">
        <h1>New Question</h1>
    </div>
    <div class="my-2">User: <span th:text="${user.email}"></span></div>

    <form th:object="${newQuestion}" th:action="@{/questions/new}" method="post">
        <div class="row d-flex align-items-center my-1">
            <div class="col-1">Description:</div>
            <div class="col-3">
                <input class="form-control"
                       th:type="text"
                       th:field="*{description}">
            </div>
            <div class="col">
                <span th:if="${#fields.hasErrors('description')}"
                      th:errors="*{description}"
                      class="text-danger"></span>
            </div>
        </div>
        <div class="row d-flex align-items-center my-1">
            <div class="col-1">Text:</div>
            <div class="col-3">
                <input class="form-control"
                       th:type="text"
                       th:field="*{text}">
            </div>
            <div class="col">
                <span th:if="${#fields.hasErrors('text')}"
                      th:errors="*{text}"
                      class="text-danger"></span>
            </div>
        </div>

        <div class="row d-flex align-items-center my-1">
            <div class="col-1">Expiry Date:</div>
            <div class="col-3">
                <input class="form-control" placeholder="Date"
                       th:type="date" th:field="*{expires}">
            </div>
            <div class="col">
                <span th:if="${#fields.hasErrors('expires')}"
                      th:errors="*{expires}"
                      class="text-danger">Date is required.</span>
            </div>
        </div>

            <button type="submit" class="btn btn-primary mt-2 w-100">Save</button>
            <a th:href="@{/}" class="w-100">
                <button type="button" class="btn btn-warning w-100">Cancel</button>
            </a>

    </form>
</div>

</body>
</html>