<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>User New Question</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
</head>
<body>

<div class="container mt-5">
    <div class="d-flex justify-content-center my-2">
        <h1>New Response</h1>
    </div>
    <div class="my-2">User: <span th:text="${user.email}"></span></div>

    <h1 th:text="${question.description}"></h1>
    <div th:text="${question.text}"></div>

    <form th:object="${newResponse}"
          th:action="@{/response?id={questionId}(questionId = ${question.id})}"
          method="post">

        <span>Response: </span>
        <div class="form-check" th:each="response: ${responseOptions}">
            <input type="radio"
                   th:field="*{response}"
                   th:value="${response}"
                   th:text="${response}"
                   class="form-check-input"/>
        </div>

        <div class="col">
            <span th:if="${#fields.hasErrors('response')}"
                  class="text-danger"
                  th:errors="*{response}"></span>
        </div>

        <!--        <input type="hidden" th:field="*{question.id}" th:value="*{question.id}">-->

        <button type="submit" class="btn btn-primary mt-2 w-100">Save</button>
        <a th:href="@{/}" class="w-100">
            <button type="button" class="btn btn-warning w-100">Cancel</button>
        </a>
    </form>
</div>

</body>
</html>