<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Overview</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
</head>
<body>

<div class="container mt-5">
    <div class="d-flex justify-content-center my-2">
        <h1>Unresolved Questions</h1>
    </div>
    <div class="my-2">User: <span th:text="${user.email}"></span></div>

    <table class="table">
        <thead>
        <th scope="col">Title</th>
        <th scope="col">Expiry Date</th>
        <th scope="col"></th>
        </thead>
        <tbody>
        <tr th:each="question : ${questionsUnresolved}">
            <td th:text="${question.description}"></td>
            <td th:text="${question.expires}"></td>
            <td>
                <a th:href="@{/response?id={questionId}(questionId = ${question.id})}">Answer</a>
            </td>
        </tr>
        </tbody>
    </table>

    <a th:href="@{/logout}">
        <button class="btn btn-primary w-100">Logout</button>
        <button class="btn btn-warning w-100">Logout</button>
    </a>
</div>

</body>
</html>