<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${project.description}"></title>

    <style>
        body {
            margin: 5rem auto;
            max-width: 50%;
            font-family: "Roboto Thin", sans-serif;
        }

        div {
            margin: 1rem 0;
        }
    </style>
</head>
<body>

<form th:object="${task}"
      th:action="@{/overview/projects/{projectId}/new (projectId=${project.getId()})}"
      method="POST">
    <div>
        <div th:if="${#fields.hasErrors('*')}">
            <h1>Errors</h1>
            <ul>
                <li th:each="err: ${#fields.errors('*')}"
                    th:text="${err}">Error
                </li>
            </ul>
        </div>

        <label th:for="id">Project: </label>
        <select th:field="*{pupil}">
            <option th:each="pupil: ${pupils}"
                    th:value="${pupil.id}"
                    th:text="${pupil.getFirstname() + ' ' + pupil.getLastname()}"></option>
        </select>

        <div>
            <label th:for="description">Description: </label>
            <input type="text" th:field="*{description}"/>
            <span th:if="${#fields.hasErrors('description')}"
                  th:errors="*{description}"></span>
        </div>

        <div>
            <label th:for="date">Date: </label>
            <input type="date" th:field="*{date}"/>
            <span th:if="${#fields.hasErrors('date')}"
                  th:errors="*{date}"></span>
        </div>

        <div>
            <label th:for="duration">Duration: </label>
            <input type="number" th:field="*{duration}"/>
            <span th:if="${#fields.hasErrors('duration')}"
                  th:errors="*{duration}"></span>
        </div>

        <button type="submit">Submit</button>
    </div>
</form>


</body>
</html>