<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Project overview</title>

    <style>
        body {
            margin: 5rem auto;
            max-width: 50%;
            font-family: "Roboto Thin", sans-serif;
        }

        div {
            margin: 1rem 0;
        }
    </style>
</head>
<body>

<form th:action="@{/overview/projects}" method="GET">
    <div>
        <label th:for="id">Project: </label>
        <select th:name="id">
            <option th:each="project: ${projects}"
                    th:value="${project.id}"
                    th:text="${project.description}"></option>
        </select>

        <button type="submit">Submit</button>
        <!--        <button id="submit" onclick="redirect()" type="button">Submit</button>-->
    </div>
</form>

<!--Alternative -->
<!--<script>-->
<!--    function redirect() {-->
<!--        window.location = "/overview/projects?id=" + document.getElementById("id").value-->
<!--    }-->
<!--</script>-->


<!-- Path Variable -->
<table>
    <tr>
        <th>Name</th>
    </tr>
    <tr th:each="project: ${projects}">
        <td>
            <a th:text="${project.description}"
               th:href="@{/overview/projects/{id} (id=${project.id})}"></a>
        </td>
    </tr>
</table>

<!-- Request Parameter -->
<table>
    <tr>
        <th>Name</th>
    </tr>
    <tr th:each="project: ${projects}">
        <td>
            <a th:text="${project.description}"
               th:href="@{/overview/projects(id=${project.id})}"></a>
        </td>
    </tr>
</table>

<div th:if="${selected}">
    <table>
        <tr>
            <th>Id</th>
            <th>Description</th>
            <th>Date</th>
            <th>Duration</th>
            <th>Pupils</th>
        </tr>
        <tr th:each="task: ${tasks}">
            <td th:text="${task.id}"></td>
            <td th:text="${task.description}"></td>
            <td th:text="${task.date}"></td>
            <td th:text="${task.duration}"></td>
            <td th:text="${task.pupil.getFirstname() + ' ' + task.pupil.getLastname()}"></td>
        </tr>
    </table>
    <div>
        <a th:href="@{/overview/projects/{projectId}/new (projectId=${selected.getId()})}">Add New Task</a>
    </div>
</div>

</body>
</html>