<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Greeting</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.3/css/bootstrap.min.css}"/>
</head>
<body>
<h1 th:text="'Hello ' + ${username}"/>
<form th:action="@{/logout}" method="post">
    <button type="submit" class="btn btn-primary">Logout</button>
</form>
</body>
</html>
