<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Home</title>
</head>
<body>
<h1>Home</h1>

<p>Click for <a th:href="@{/greeting/}">greeting</a></p>
</body>
</html>