<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" th:href="@{../webjars/bootstrap/4.5.3/css/bootstrap.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/styles.css}" type="text/css">
    <title>Login</title>
</head>
<body>
<div class="container">
    <form method="post" th:action="@{/login}">
        <fieldset>
            <legend>Please login</legend>
            <div th:if="${param.error}" class="alert alert-danger">
                Invalid username and password.
            </div>
            <div th:if="${param.logout}" class="alert alert-success">
                You have been logged out.
            </div>
            <div class="form-group">
                <label for="username" class="sr-only">Username</label>
                <input type="text" id="username" name="username" placeholder="Username" required
                       autofocus>
            </div>
            <div class="form-group">
                <label for="password" class="sr-only">Password</label>
                <input type="password" id="password" name="password" placeholder="Password" required>
            </div>
            <div class="form-check">
                <label class="form-check-label" for="remember-me">Remember me</label>
                <input type="checkbox" class="form-check-input" id="remember-me" name="remember-me">
            </div>
        </fieldset>
        <button class="btn btn-lg btn-primary" type="submit">Login</button>
    </form>
</div>
</body>
</html>
