<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Person</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
</head>
<body>

<div class="container my-5">

    <h1 class="mb-3">Create new person</h1>

    <form th:action="@{''}" method="post" th:object="${person}">
        <div class="my-2 row d-flex align-items-center">

            <div class="row d-flex align-items-center my-2">
                <div class="col-1">Last Name:</div>
                <div class="col-3">
                    <input class="form-control" placeholder="Mustermann"
                           th:type="text" th:field="*{lastName}">
                </div>
                <div class="col">
                      <span th:if="${#fields.hasErrors('lastName')}"
                            class="text-danger" th:errors="*{lastName}"></span>
                </div>
            </div>

            <div class="row d-flex align-items-center my-2">
                <div class="col-1">First Name:</div>
                <div class="col-3">
                    <input class="form-control" placeholder="Max"
                           th:type="text" th:field="*{firstName}">
                </div>
                <div class="col">
                      <span th:if="${#fields.hasErrors('firstName')}"
                            class="text-danger" th:errors="*{firstName}"></span>
                </div>
            </div>


            <div class="row d-flex align-items-center">
                <div class="col-1">Date of Birth:</div>
                <div class="col-3">
                    <input class="form-control" placeholder="Date"
                           th:type="date" th:field="*{dateOfBirth}">
                </div>
                <div class="col">
                            <span th:if="${#fields.hasErrors('dateOfBirth')}"
                                  class="text-danger" th:errors="*{dateOfBirth}"></span>
                </div>
            </div>

            <div class="my-2 row d-flex align-items-center">
                <div class="col-1"><label th:for="sex">Sex: </label></div>
                <div class="col-3"><select class="form-select" th:field="*{sex}">
                    <option th:each="sex : ${sexes}" th:value="${sex}"
                            th:text="${sex}"></option>
                </select></div>
            </div>
        </div>

        <div>
            <label>Interests: </label>
            <ul>
                <li th:each="interest: ${interests}">
                    <input type="checkbox"
                           th:field="*{interests}"
                           th:value="${interest.id}"
                           th:text="${interest.description}"/>
                </li>
            </ul>
            <div class="col">
                            <span th:if="${#fields.hasErrors('interests')}"
                                  class="text-danger" th:errors="*{interests}"></span>
            </div>
        </div>


        <div>
            <button type="submit" class="btn btn-primary my-2">Save</button>
        </div>
    </form>
</div>

</body>
</html>