<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Persons</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
</head>
<body>

<div class="container my-5">

    <h1 class="mb-3">Person Overview</h1>
    <table class="table">
        <thead>
        <th scope="col">Last Name</th>
        <th scope="col">First Name</th>
        <th scope="col">Date of birth</th>
        <th scope="col">Sex</th>
        <th scope="col">Interests</th>
        </thead>

        <tbody>
        <tr th:each="person : ${persons}">
            <td th:text="${person.lastName}"></td>
            <td th:text="${person.firstName}"></td>
            <td th:text="${person.dateOfBirth}"></td>
            <td th:text="${person.sex}"></td>
            <td th:text="${person.getInterestString()}"></td>
<!--            <td><span th:each="interest : ${person.interests}" th:text="${interest.description} + ', '"></span></td>-->
        </tr>
        </tbody>
    </table>


    <a href="/persons/new"> <button class="btn btn-primary" type="button">New</button></a>
</div>

</body>
</html>