<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${pageTitle}"></title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
</head>
<body>

<div class="container my-5">
    <h1 class="mb-3">Grade entries</h1>
    <table class="table">
        <thead>
        <th scope="col">Date</th>
        <th scope="col">Subject</th>
        <th scope="col">Grade</th>
        </thead>

        <tbody>
        <tr th:each="entry : ${gradeEntries}">
            <td th:text="${entry.assignedDate}"></td>
            <td th:text="${entry.subject}"></td>
            <td th:text="${entry.grade}"></td>
        </tr>
        </tbody>
    </table>

    <h1 class="mb-3 mt-5">New record</h1>
    <form th:action="@{''}" method="post" th:object="${newGradeEntry}">
        <div class="my-2 row d-flex align-items-center">
            <div class="col-1"><label th:for="subject">Subject: </label></div>
            <div class="col-3"><select class="form-select" th:field="*{subject}">
                <option th:each="subject : ${subjects}" th:value="${subject}"
                        th:text="${subject}"></option>
            </select></div>
        </div>

        <div class="row my-2">
            <div class="col-1">Grade: </div>
            <div class="col-3">
                <input class="form-check-input" type="radio" id="grade1" name="grade1" value="1" th:field="*{grade}">
                <label class="form-check-label" for="grade1">1</label>
                <input class="form-check-input" type="radio" id="grade2" name="grade2" value="2" th:field="*{grade}">
                <label class="form-check-label" for="grade2">2</label>
                <input class="form-check-input" type="radio" id="grade3" name="grade3" value="3" th:field="*{grade}">
                <label class="form-check-label" for="grade3">3</label>
                <input class="form-check-input" type="radio" id="grade4" name="grade4" value="4" th:field="*{grade}">
                <label class="form-check-label" for="grade4">4</label>
                <input class="form-check-input" type="radio" id="grade5" name="grade5" value="5" th:field="*{grade}">
                <label class="form-check-label" for="grade5">5</label></div>
            <div class="col">
                <span th:if="${#fields.hasErrors('grade')}" class="text-danger">Grade is required.</span>
            </div>
        </div>

        <div class="row d-flex align-items-center">
            <div class="col-1">Date:</div>
            <div class="col-3">
                <input class="form-control" placeholder="Date"
                       th:type="date" th:field="*{assignedDate}">
            </div>
            <div class="col">
                <span th:if="${#fields.hasErrors('assignedDate')}"
                      class="text-danger">Date is required.</span>
            </div>
        </div>


        <div>
            <button type="submit" class="btn btn-primary my-2">Save</button>
        </div>
    </form>
</div>
</body>
</html>