<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VMM Overview</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
</head>
<body>

<div class="container my-5">

    <h1 class="mb-3">Student Overview</h1>
    <table class="table">
        <thead>
        <th scope="col">Name</th>
        <th scope="col">Grades</th>
        </thead>

        <tbody>
        <tr th:each="student : ${studentGradeEntryPair}">
            <td th:text="${student.first.firstName} + ' ' + ${student.first.lastName}"></td>
            <td>
                <a th:href="@{/students/{id} (id=${student.first.id})}" th:text="${student.second} + ' grades'"></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>